* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#gridlayout {
  display: grid;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

#gridlayout > div {
  border: 1px solid black;
}
#button-menu {
  display: flex;
  margin: 0 auto;
  gap: 10px;
}

#button-menu > button {
  height: 50px;
  width: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
}
button.active {
  transform: scale(5);
}
.grid-cell {
  user-select: none;
}
