@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: bisque;
}
h1 {
  font-family: "Amatic SC", cursive;
  font-size: 60px;
}
#gridlayout {
  display: grid;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  background-color: white;
}

#gridlayout > div {
  border: 1px solid black;
}
#button-menu {
  display: flex;
  margin: 0 auto;
  gap: 10px;
}

#button-menu > button {
  height: 50px;
  width: 130px;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: "Amatic SC", cursive;
  font-size: 19px;
}

button.active {
  transform: scale(5);
}
.grid-cell {
  user-select: none;
}
